{{extend 'layout.html'}}

{{block head}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var get_images_url = "{{=URL('api', 'get_images')}}";
  var add_images_url = "{{=URL('api', 'add_images')}}";
  var get_users_url = "{{=URL('api', 'get_users')}}";
  // Define your URLs here.
</script>



{{end}}
<div class="main_content">

  <div id="vue-div" class="display:none">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    <h5> hello :) there</h5>
    <button onclick="myFunction()">Try it</button>
    <div class="container padded">

      <div class="image_space threequarters">
        <!-- Left part of the page -->
        <div v-if="self_page">
          <!-- Code to upload files, with control buttons -->
          <div id="uploader_div" style="display:none">
            Upload an image file: <input id="file_input" type="file" v-on:change="upload_file" accept="image/jpeg">
          </div>

          <button v-if="!is_uploading" v-on:click="open_uploader"><i class="fa fa-plus"></i></button>
          <button v-if="is_uploading"  v-on:click="close_uploader">Cancel</button>
        </div>

        <div class="image_container">
          <!-- Put here the code to display the images -->

          <ul class="container">
            <li v-for="image in user_images" class="card lifted padded quarter">
              <img v-bind:src="image.image_url" height="200px" width="200px" class="padded"/>
            </li> 
          </ul>
        </div>
      </div>

      <div class="user_space quarter right">
        <!-- Right part of the page -->
        <table class="fill" id="user_selector">
          <tbody>
            <tr class="center">
              <!-- This row is you; code for getting your own images, and for setting self_page -->
              {{if auth.user is not None:}}
                <td>{{ =auth.user.first_name}}</td>
              {{pass}}
            </tr>
            <tr class = "center" v-for="user in users">
                 <td v-on:click="user_selected(user.name_)">${user.name_}</td>
            </tr>
        </table>

      </div>

  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
